<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terry Pratchett</title>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<br>
    <img class="image-index" src="images/tplogo.png" alt="image1" height="150px"/></br>
    <img class="image-index" src="images/Mundodisco.jpg" alt="image2" height="250px"/>
    <p>
        Welcome to this little corner in honor of Terry Pratchett, one of the best fantasy novelists of all time.</p>
    <div class="button">
        <tr>
        <td><a href="/about">About</a></td>
        <td><a href="/works">Works</a></td>
        <td><a href="/photos">Photos</a></td>
        </tr>
    </div>
</body>
</html>