<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="../public/styles.css"/>
</head>
<body>
    <div class="gallery">
        <img class="image-gallery" src="../public/450_1000.jpg" alt="image1" />
        <img class="image-gallery" src="../public/Terry-Pratchett.jpg.webp" alt="image2" />
        <img class="image-gallery" src="../public/terry_pratchett.jpg" alt="image3" />
        <img class="image-gallery" src="../public/1426177803_503396_1426181209_sumario_normal.jpg" alt="image4" />
</body>
</html>