<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body>
    <ul>
        <li>The Colour of Magic</li>
        <li>The Light Fantastic</li>
        <li>Equal Rites</li>
        <li>Mort</li>
        <li>Sourcery</li>
        <li>Wyrd Sisters</li>
        <li>Pyramids</li>
        <li>Guards! Guards!</li>
        <li>Eric</li>
        <li>Moving Pictures</li>
        <li>Reaper Man</li>
        <li>Witches Abroad</li>
        <li>Small Gods</li>
        <li>Lords and Ladies</li>
        <li>Men at Arms</li>
        <li>Soul Music</li>
        <li>Interesting Times</li>
        <li>Maskerade</li>
        <li>Feet of Clay</li>
        <li>Hogfather</li>
        <li>Jingo!</li>
        <li>The Last Continent</li>
        <li>Carpe Jugulum</li>
        <li>The Fifth Elephant</li>
        <li>The Truth</li>
        <li>Thief of Time</li>
        <li>The Last Hero</li>
        <li>The Amazing Maurice and his Educated Rodents</li>
        <li>Night Watch</li>
        <li>The Wee Free Men</li>
        <li>The Monstrous Regiment</li>
        <li>A Hat Full of Sky</li>
        <li>Going Postal</li>
        <li>Thud!</li>
        <li>Wintersmith</li>
        <li>Making Money</li>
        <li>Unseen Academicals</li>
        <li>I Shall Wear Midnight</li>
        <li>Snuff</li>
        <li>Raising Steam</li>
        <li>The Shepherd's Crown</li>
    </ul>
</body>
</html>